.home {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 100px;
    position: relative;
    z-index: 2;
    
    h1 {
        margin:0;
        font-size: 5rem;
        @include title;
        position: relative;
    }
    p {
        margin-top: 0px;
        font-style: italic;
        font-weight: 300;
        a {
            @include link
        }
    }

}