.projects {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    .notice {
        position: fixed;
        bottom: 10vh;
        color: transparentize($main, 0.80);
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    .dots {
        position: fixed;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        .dot {
            width: 5px;
            height: 5px;
            max-height: 5px;
            // border-radius: 100%;
            background-color: $main;
            opacity: 0.4;
            transition: opacity 0.4s;
            &.active {
                opacity: 1;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}