@mixin link {
    text-decoration: none;
    color: $main;
    position: relative;
    font-weight: normal;
    &::after {
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: $main;
        bottom:-3px;
        left: 0;
        content:'';
        transition: width 0.8s cubic-bezier(.71,.28,.25,1.26);
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}