.cursor {
    width: 20px;
    height: 20px;
    background-color: $background;
    border-radius: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    mix-blend-mode:difference;
}