$project-image-size:350px;
.project-item { 
    h1 {
        margin:0;
        @include title;
        font-size: 5rem;
    }
    .description {
        margin-top: -5px;
        font-style: italic;
        font-weight: 300;
    }
    .illustration {
        width: $project-image-size;
        position: relative;
        z-index: 10;
        img {
            width: $project-image-size;
            height: $project-image-size;
            object-fit: cover;
            object-position: center;

        }
    }
    .informations {
        width: calc(100% - #{$project-image-size} - 50px);
        margin-left: 50px;
        position: relative;
        .index {
            display: none;
            @include title;
            font-size:25rem;
            position: absolute;
            font-weight: 400;
            color: transparentize($main, 0.95);
            top: -10vh;
            left: -1vw;
            line-height: 25rem;
            pointer-events: none;
            user-select: none;
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;
}